@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2"), url(../fonts/Montserrat-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2"), url(../fonts/Montserrat-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}
.header-top__user {
  font-family: "Montserrat", cursive;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2"), url(../fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"), url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
.products-slider__link-more::after, .header-catalog__link[data-parent]::before, .header-center__logo, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow_bottom:before, .header-catalog__link[data-parent]:before {
  content: "\e900";
}

._icon-comrape:before {
  content: "\e902";
}

._icon-favorites:before {
  content: "\e904";
}

._icon-footer-location:before {
  content: "\e905";
}

._icon-header-location:before {
  content: "\e908";
}

._icon-hryvnia-icon:before {
  content: "\e909";
}

._icon-logo:before, .header-center__logo:before {
  content: "\e90a";
}

._icon-phone:before {
  content: "\e90b";
}

._icon-spoller-arrow:before {
  content: "\e90c";
}

._icon-star:before {
  content: "\e90d";
}

._icon-user:before {
  content: "\e90e";
}

._icon-search:before {
  content: "\e986";
}

:root {
  --accent: #e8aa31;
  --gray: #ABABAB;
  --gray-dotts: #898989;
  --cod-gray: #141414;
  --white: #FFFFFF;
  --black: #000000;
  --header-center: #ECF1F2;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--black);
  overflow-x: hidden;
  min-width: 100vw;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

::marker {
  margin-top: 10px;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

.main {
  overflow-x: clip;
}

.section {
  margin-top: 120px;
}
@media screen and (max-width: 1200px) {
  .section {
    margin-top: calc(60px + 60 * (100vw - 320px) / 880);
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  min-width: 320px;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: var(--cod-gray);
  color: var(--white);
}
.header-top {
  min-height: 50px;
  padding: 10px 0;
}
.header-top__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 19px;
}
.header-top__menu-list {
  display: flex;
  align-items: center;
  row-gap: 5px;
  flex-wrap: wrap;
  -moz-column-gap: calc(10px + 50 * (100vw - 320px) / 1300);
       column-gap: calc(10px + 50 * (100vw - 320px) / 1300);
}
@media screen and (width < 991.98px) {
  .header-top__menu-list {
    flex-direction: column;
    row-gap: 25px;
    align-items: flex-start;
  }
}
.header-top__menu-item--hidden {
  display: none;
}
@media screen and (width < 991.98px) {
  .header-top__menu-item--hidden {
    display: block;
  }
}
.header-top__menu-link {
  font-size: 16px;
  line-height: 1.25;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1620px) {
  .header-top__menu-link {
    font-size: calc(14px + 2 * (100vw - 992px) / 628);
  }
}
@media (any-hover: hover) {
  .header-top__menu-link:hover {
    color: var(--accent);
  }
  .header-top__menu-link:hover .header-top__menu-link--catalog::before {
    color: var(--accent);
  }
}
@media screen and (width < 991.98px) {
  .header-top__menu-link {
    font-size: 30px;
  }
}
@media screen and (width < 991.98px) and (max-width: 992px) {
  .header-top__menu-link {
    font-size: calc(20px + 10 * (100vw - 320px) / 672);
  }
}
.header-top__menu-link--catalog {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.header-top__menu-link--catalog::before {
  height: 14px;
  color: var(--white);
  transform: rotate(-90deg);
  margin-left: calc(5px + 12 * (100vw - 320px) / 1300);
  font-size: 9.5px;
  padding-top: 4px;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1620px) {
  .header-top__menu-link--catalog::before {
    font-size: calc(7.5px + 2 * (100vw - 992px) / 628);
  }
}
@media screen and (width < 991.98px) {
  .header-top__menu {
    display: none;
  }
}
.header-top__user {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  line-height: 1.2222222222;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1620px) {
  .header-top__user {
    font-size: calc(16px + 2 * (100vw - 992px) / 628);
  }
}
.header-top__user::before {
  width: 21px;
  font-size: 28px;
}
@media (any-hover: hover) {
  .header-top__user:hover {
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--accent);
  }
}
@media screen and (width < 991.98px) {
  .header-top__user {
    position: relative;
    z-index: 3;
  }
  .header-top__user span {
    display: none;
  }
}
@media screen and (width < 991.98px) {
  .header-top {
    -moz-column-gap: 35px;
         column-gap: 35px;
    align-items: center;
  }
}
.header-center {
  background-color: var(--header-center);
  color: var(--black);
  padding: 10px 0;
}
.header-center__inner {
  display: flex;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (width < 567.98px) {
  .header-center__inner {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}
.header-center__logo {
  font-size: 2.65625rem;
}
.header-center__search {
  margin-left: 158px;
  max-width: 23.5625rem;
  width: 100%;
}
@media screen and (max-width: 1620px) {
  .header-center__search {
    margin-left: calc(0px + 158 * (100vw - 992px) / 628);
  }
}
@media screen and (width < 1067.98px) {
  .header-center__search {
    max-width: 33%;
  }
}
@media screen and (width < 991.98px) {
  .header-center__search {
    max-width: 377px;
    margin-left: 0;
  }
}
@media screen and (width < 991.98px) and (max-width: 1620px) {
  .header-center__search {
    max-width: calc(300px + 77 * (100vw - 568px) / 1052);
  }
}
@media screen and (width < 567.98px) {
  .header-center__search {
    max-width: 100%;
  }
}
.header-center__search-form {
  position: relative;
  background-color: rgba(7, 7, 7, 0.03);
}
.header-center__search-input {
  border: 1px solid rgba(4, 4, 4, 0.5);
  background-color: transparent;
  border-radius: 3px;
  width: 100%;
  height: 2.5625rem;
  padding: 0 1.25rem 0 3.125rem;
  color: var(--black);
  font-size: 0.875rem;
  line-height: 1.2142857143;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-center__search-input:hover {
  border: 1px solid #e8aa31;
}
.header-center__search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.header-center__search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.header-center__search-btn {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  width: 2.5625rem;
  height: 2.5625rem;
  font-size: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}
.header-center__search-btn:hover .header-center__search-input {
  border: 1px solid #e8aa31;
}
.header-center__actions {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 232px;
}
@media screen and (max-width: 1620px) {
  .header-center__actions {
    gap: calc(15px + 15 * (100vw - 1200px) / 420);
  }
}
@media screen and (max-width: 1620px) {
  .header-center__actions {
    margin-left: calc(15px + 217 * (100vw - 1200px) / 420);
  }
}
@media screen and (width < 991.98px) {
  .header-center__actions {
    display: none;
  }
}
.header-center__location {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-right: calc(3px + 22 * (100vw - 320px) / 1300);
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 1620px) {
  .header-center__location {
    font-size: calc(16px + 2 * (100vw - 992px) / 628);
  }
}
.header-center__location::before {
  color: var(--black);
  height: 24px;
  font-size: 1.5rem;
}
@media screen and (width < 991.98px) {
  .header-center__location {
    display: none;
  }
}
.header-center__phone {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222;
  white-space: nowrap;
}
@media screen and (max-width: 1620px) {
  .header-center__phone {
    font-size: calc(16px + 2 * (100vw - 992px) / 628);
  }
}
@media screen and (width < 991.98px) {
  .header-center__phone {
    order: -1;
    position: relative;
    z-index: 3;
  }
}
.header-center__phone-item {
  position: relative;
  display: flex;
}
.header-center__phone-link {
  display: inline-block;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header-center__phone-link:hover {
    color: var(--accent);
  }
}
@media screen and (width < 479.98px) {
  .header-center__phone-link span {
    display: none;
  }
}
.header-center__phone-btn {
  display: flex;
  align-items: center;
  margin-left: calc(5px + 12 * (100vw - 320px) / 1300);
}
.header-center__phone-btn-arrow {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (width < 479.98px) {
  .header-center__phone-btn-arrow {
    display: none;
  }
}
.header-center__phone-btn-icon {
  display: none;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header-center__phone-btn-icon:hover {
    color: var(--accent);
  }
}
@media screen and (width < 479.98px) {
  .header-center__phone-btn-icon {
    display: block;
    position: relative;
    z-index: 3;
  }
}
.header-center__phone-btn.active .header-center__phone-btn-arrow {
  transform: rotate(-180deg);
}
.header-center__phone-list {
  box-shadow: 0 0 5px rgba(113, 109, 109, 0.04);
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: -2px;
  background-color: var(--header-center);
  padding: 0.9375rem;
  border-radius: 0.625rem;
  z-index: 1;
}
.header-center__phone-list li:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media screen and (width < 991.98px) {
  .header-center__phone-list {
    background-color: var(--cod-gray);
    padding: 12px;
  }
}
@media screen and (width < 479.98px) {
  .header-center__phone-list {
    width: 550%;
  }
}
.header-center__phone-callback {
  font-weight: 700;
  line-height: 1.2222222222;
  color: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header-center__phone-callback:hover {
    text-decoration: underline;
  }
}
.header-center__favorite {
  font-size: 1.6875rem;
  height: 27px;
  position: relative;
  z-index: 3;
}
.header-center__card {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.header-center__card-icon {
  display: flex;
  position: relative;
  position: relative;
  z-index: 3;
}
.header-center__card-icon span {
  position: absolute;
  top: -2px;
  right: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--accent);
  padding: 2px 4px;
  color: #FFF;
  font-size: 0.5rem;
  line-height: 1.25;
  width: 18px;
  height: 18px;
}
.header-center__card-body {
  font-size: 1rem;
  line-height: 1.25;
  flex: 0 0 auto;
}
@media screen and (width < 1200px) {
  .header-center__card-body {
    display: none;
  }
}
.header-center__card-summa {
  color: var(--black);
}
.header-center__card-link {
  margin-top: 5px;
  color: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header-center__card-link:hover {
    text-decoration: underline;
  }
}
.header-catalog {
  position: relative;
  background-color: var(--cod-gray);
  box-shadow: 0px 4px 20px 0px rgba(53, 53, 53, 0.18);
}
@media screen and (width < 991.98px) {
  .header-catalog__nav {
    position: fixed;
    top: 0;
    transform: translateX(-130%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--cod-gray);
    padding: 30px 30px 50px 20px;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .catalog-open .header-catalog__nav {
    transform: translateX(0%);
    z-index: 4;
  }
}
.header-catalog__back {
  display: none;
}
@media screen and (width < 991.98px) {
  .header-catalog__back {
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (width < 991.98px) and (max-width: 922px) {
  .header-catalog__back {
    font-size: calc(20px + 10 * (100vw - 320px) / 602);
  }
}
@media screen and (width < 991.98px) {
  .header-catalog__back svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
.header-catalog__list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
@media screen and (width < 991.98px) {
  .header-catalog__list {
    flex-direction: column;
    row-gap: 25px;
  }
}
.header-catalog__link {
  display: flex;
  position: relative;
  color: var(--white);
  font-size: 30px;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 992px) {
  .header-catalog__link {
    font-size: calc(20px + 10 * (100vw - 320px) / 672);
  }
}
.header-catalog__link[data-parent]::before {
  display: none;
}
@media screen and (width < 991.98px) {
  .header-catalog__link[data-parent]::before {
    transform: rotate(-90deg);
    display: block;
    font-size: 0.625rem;
  }
}
@media screen and (width < 991.98px) {
  .header-catalog__link[data-parent] {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.header-catalog__link::after {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  content: "";
  height: 2px;
  background-color: var(--accent);
  box-shadow: 0px 4px 20px 0px rgba(232, 170, 49, 0.3);
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header-catalog__link::after:hover {
    color: var(--accent);
  }
}
@media (any-hover: hover) {
  .header-catalog__link:hover {
    color: var(--accent);
  }
}
.header-catalog__link._submenu-active::after {
  opacity: 1;
  visibility: visible;
}
@media screen and (width < 991.98px) {
  .header-catalog__link._submenu-active::after {
    width: 100%;
    left: 0px;
  }
}
@media screen and (width > 991.98px) {
  .header-catalog__link {
    padding: 0 10px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
  }
}
.header-catalog__submenu {
  background-color: var(--cod-gray);
  width: 100%;
  left: 0;
  top: 100%;
}
.header-catalog__submenu container {
  padding: 0 10px;
}
.header-catalog__submenu-block {
  display: none;
}
.header-catalog__submenu-block--1 {
  grid-template-columns: repeat(1, minmax(auto, 320px));
}
.header-catalog__submenu-block--2 {
  grid-template-columns: repeat(2, minmax(auto, 320px));
}
.header-catalog__submenu-block--3 {
  grid-template-columns: repeat(3, minmax(auto, 320px));
}
.header-catalog__submenu-block--4 {
  grid-template-columns: repeat(4, minmax(auto, 320px));
}
.header-catalog__submenu-block--5 {
  grid-template-columns: repeat(5, minmax(auto, 320px));
}
.header-catalog__submenu-block._submenu-open {
  display: grid;
}
@media screen and (width < 991.98px) {
  .header-catalog__submenu-block._submenu-open {
    display: block;
  }
}
@media screen and (width < 991.98px) {
  .header-catalog__submenu-block {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--cod-gray);
    padding: 30px 15px 50px 20px;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-catalog__submenu-block._submenu-open {
    display: block;
    left: 0;
    z-index: 4;
  }
}
.header-catalog__submenu-back {
  display: none;
}
@media screen and (width < 991.98px) {
  .header-catalog__submenu-back {
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (width < 991.98px) and (max-width: 922px) {
  .header-catalog__submenu-back {
    font-size: calc(20px + 10 * (100vw - 320px) / 602);
  }
}
@media screen and (width < 991.98px) {
  .header-catalog__submenu-back svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
.header-catalog__submenu-category {
  font-size: calc(12px + 4 * (100vw - 320px) / 1300);
  line-height: 1.25;
  font-weight: 700;
  padding: 30px 15px 30px 0;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header-catalog__submenu-category:hover {
    color: var(--accent);
  }
}
.header-catalog__submenu-category-link {
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  .header-catalog__submenu-category-link {
    font-size: calc(20px + 10 * (100vw - 320px) / 672);
  }
}
.header-catalog__submenu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 15px 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header-catalog__submenu-link {
  font-size: 1rem;
  line-height: 1.25;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header-catalog__submenu-link:hover {
    color: var(--accent);
  }
}
.header-catalog__submenu-footer {
  padding: 30px 15px 30px 0;
}
@media screen and (width < 991.98px) {
  .header-catalog__submenu-footer {
    display: none;
  }
}
.header-catalog__submenu-all {
  color: var(--accent);
  font-size: 1rem;
  line-height: 1.25;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header-catalog__submenu-all:hover {
    text-decoration: underline;
  }
}

.menu {
  display: none;
}
@media screen and (width < 991.98px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
  }
}
.menu__btn {
  display: none;
}
@media screen and (width < 991.98px) {
  .menu__btn {
    position: relative;
    margin-left: 20px;
    display: inline-block;
    width: 50px;
    height: 37px;
    padding: 10px;
    background: transparent;
    border: none;
    z-index: 10;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (width < 991.98px) and (any-hover: hover) {
  .menu__btn:hover span {
    background-color: var(--accent);
  }
}
@media screen and (width < 991.98px) {
  .menu__btn-line {
    position: absolute;
    left: 10px;
    width: 28px;
    height: 3px;
    background-color: var(--white);
    border-radius: 20px;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__btn-line:nth-child(1) {
    top: 10px;
  }
  .menu__btn-line:nth-child(2) {
    top: 17px;
  }
  .menu__btn-line:nth-child(3) {
    top: 24px;
  }
  .menu-open .menu__btn-line:nth-child(1) {
    transform: scaleX(0);
  }
  .menu-open .menu__btn-line:nth-child(2) {
    transform: rotate(45deg);
    top: 24px;
  }
  .menu-open .menu__btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }
}
@media screen and (width < 991.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: var(--cod-gray);
    padding: 80px 15px 50px 15px;
    z-index: 5;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    left: -100%;
    top: 0;
    background-color: var(--cod-gray);
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.modal {
  position: absolute;
  top: 0;
  left: 0%;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 528px;
  height: 581px;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  padding-left: 41px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (width < 479.98px) {
  .modal {
    width: 85%;
    height: 85%;
  }
}

.is-hidden {
  visibility: hidden;
  cursor: pointer;
}

.is-hidden .modal {
  scale: 0;
}

/* Выравнивание кнопки относительно мод.окна */
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-btn span {
  color: #000000;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-btn:hover span, .close-btn:focus span {
  color: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  font-size: 0.75rem;
  line-height: 1.1666666667;
}
.form__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.form__label {
  display: block;
  margin: 12px auto 4px;
}
.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  height: 40px;
  width: 100%;
}
.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent);
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: var(--accent);
}
.form #comment {
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  width: 100%;
  height: 96px;
}
.form__icon-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.form__icon {
  position: absolute;
  left: 12px;
  fill: #000000;
}

.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.checkbox__link {
  margin-left: 5px;
  text-decoration: underline;
  color: var(--accent);
}
.checkbox__text {
  display: inline-flex;
  font-size: 0.5rem;
  line-height: 1.25;
}
.checkbox__castom-icon {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon-check {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox__label .checkbox__castom-icon {
  background: var(--accent);
  border-color: var(--accent);
}
.checkbox:checked + .checkbox__label .checkbox__castom-icon .checkbox__icon-check {
  opacity: 1;
}
.checkbox__label {
  display: flex;
  align-items: center;
  gap: 7px;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-block {
  padding-top: 40px;
  padding-bottom: 59px;
  background: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1620px) {
  .main-block {
    padding-top: calc(29px + 11 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .main-block {
    padding-bottom: calc(45px + 14 * (100vw - 320px) / 1300);
  }
}
.main-block__body {
  color: var(--white);
  display: grid;
  align-items: center;
  row-gap: 40px;
  margin-bottom: calc(30px + 12 * (100vw - 320px) / 1300);
}
@media screen and (width > 991.98px) {
  .main-block__body {
    grid-template-columns: 1fr 38%;
  }
}
.main-block__slider {
  max-width: 100%;
  overflow: hidden;
}
.main-block__advantages {
  padding-top: 78px;
}
.main-block__swiper {
  width: 100%;
}
.main-block__swiper:not(:last-child) {
  margin-bottom: 60px;
}

.slide-main-block__content:not(:last-child) {
  margin-bottom: calc(30px + 30 * (100vw - 320px) / 1300);
}
@media screen and (width < 991.98px) {
  .slide-main-block__content {
    padding-right: 40px;
  }
}
.slide-main-block__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2777777778;
  letter-spacing: 1.08px;
}
.slide-main-block__title:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .slide-main-block__title {
    font-size: calc(23px + 13 * (100vw - 320px) / 672);
  }
}
.slide-main-block__title span {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}
.slide-main-block__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.6px;
}
@media screen and (max-width: 991px) {
  .slide-main-block__text {
    font-size: calc(16px + 4 * (100vw - 320px) / 671);
  }
}
.slide-main-block__button {
  display: inline-block;
  max-width: 14.25rem;
  width: 100%;
}

.media-main-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.media-main-block__body {
  position: relative;
}
.media-main-block__image {
  position: relative;
}
.media-main-block__image img {
  position: relative;
  z-index: 1;
}
.media-main-block__image::before {
  position: absolute;
  content: "";
  width: 94.4%;
  padding-bottom: 93.5%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  bottom: 2%;
  right: -30%;
}
.media-main-block__image::after {
  position: absolute;
  content: "";
  max-width: 535.212px;
  width: 100%;
  height: 100%;
  max-height: 532.599px;
  border-radius: 535.212px;
  background: rgba(255, 255, 255, 0.05);
  filter: blur(35px);
  bottom: 0%;
  right: -35%;
}
.media-main-block__tips {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.media-main-block__tip {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.media-main-block__tip span {
  position: relative;
  color: var(--white);
  z-index: 2;
  font-weight: 600;
  font-size: 1.25rem;
}
@media (any-hover: hover) {
  .media-main-block__tip:hover {
    transform: rotate(-180deg);
  }
}
.media-main-block__tip::after, .media-main-block__tip::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: var(--accent);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.media-main-block__tip::after {
  opacity: 0.5;
  transform: scale(1.6);
}
.media-main-block__tip--1 {
  top: 37.2%;
  left: 16%;
}
.media-main-block__tip--2 {
  top: 12.4%;
  right: 2.9%;
}
.media-main-block__tip--3 {
  bottom: 23%;
  right: 7.3%;
}

.controll-main-block {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 32px;
}
.controll-main-block__dotts {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 17px;
  transform: translate(0, 10%);
}
.controll-main-block__dotts .swiper-pagination-bullet {
  position: relative;
  height: 30px;
  width: 18px;
  opacity: 1;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}
.controll-main-block__dotts .swiper-pagination-bullet::after {
  opacity: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--white);
  top: 50%;
  transform: translate(0, -50%);
}
.controll-main-block__dotts .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent);
  filter: drop-shadow(0px 4px 20px rgba(232, 170, 49, 0.66));
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  opacity: 0;
}
.controll-main-block__dotts .swiper-pagination-bullet-active {
  width: 28px;
  transition: all 0.3s ease 0s;
}
.controll-main-block__dotts .swiper-pagination-bullet-active::after {
  background-color: var(--accent);
}
.controll-main-block__dotts .swiper-pagination-bullet-active::before {
  opacity: 1;
  left: 18px;
  transition: left 3s linear 0s;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.fraction-controll {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  letter-spacing: 0.2em;
}
.fraction-controll__current {
  color: var(--accent);
  font-size: 1.5rem;
}
.fraction-controll__all {
  color: var(--white);
  font-size: 1.125rem;
}

.advantages-main {
  color: var(--white);
}
.advantages-main__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 50px 10px;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (width < 991.98px) {
  .advantages-main__list {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}
@media screen and (width < 479.98px) {
  .advantages-main__list {
    grid-template-columns: repeat(1, auto);
  }
}
.advantages-main__item {
  display: grid;
  gap: 17px;
  max-width: 295px;
  text-align: center;
}
.advantages-main__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 3px;
  background: #E8AA31;
  box-shadow: 0px 4px 20px 0px rgba(232, 170, 49, 0.43);
  padding-bottom: 0.5625rem;
  padding-top: 0.5625rem;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1620px) {
  .button {
    font-size: calc(18px + 2 * (100vw - 320px) / 1300);
  }
}
@media (any-hover: hover) {
  .button:hover {
    box-shadow: 0px 4px 45px 0px rgba(232, 170, 49, 0.43);
  }
}

.section-title {
  color: var(--cod-gray);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5333333333;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1620px) {
  .section-title {
    font-size: calc(20px + 10 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .section-title {
    letter-spacing: calc(1px + 0.5 * (100vw - 320px) / 1300);
  }
}

.title-h3 {
  display: inline-block;
  color: var(--black);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4166666667;
  padding-bottom: 15px;
  position: relative;
}
@media screen and (max-width: 1620px) {
  .title-h3 {
    font-size: calc(20px + 4 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .title-h3 {
    padding-bottom: calc(10px + 5 * (100vw - 320px) / 1300);
  }
}
.title-h3::after {
  position: absolute;
  content: "";
  width: 68px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-text {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.54px;
  font-size: 18px;
  letter-spacing: 0.54px;
}
@media screen and (max-width: 1620px) {
  .section-text {
    font-size: calc(16px + 2 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .section-text {
    letter-spacing: calc(0.48px + 0.06 * (100vw - 320px) / 1300);
  }
}

.section__link {
  margin-top: 60px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 2.875rem;
  color: var(--accent);
  font-weight: 600;
  position: relative;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1620px) {
  .section__link {
    margin-top: calc(20px + 40 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .section__link {
    font-size: calc(18px + 2 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .section__link {
    letter-spacing: calc(0.9px + 0.1 * (100vw - 320px) / 1300);
  }
}
@media (any-hover: hover) {
  .section__link:hover {
    text-decoration: underline;
  }
}
.section__link::after {
  position: absolute;
  content: url(../images/icons/arrow-next.svg);
  width: 0.5625rem;
  height: 1.0625rem;
  top: 25%;
  transform: translateY(-50%);
  right: 0;
}

.catalog {
  background-color: var(--white);
}
.catalog__content {
  padding-top: 30px;
  padding-right: 157px;
  padding-left: 30px;
  padding-bottom: 40px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1620px) {
  .catalog__content {
    padding-top: calc(10px + 20 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .catalog__content {
    padding-right: calc(8px + 149 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .catalog__content {
    padding-left: calc(15px + 15 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .catalog__content {
    padding-bottom: calc(20px + 20 * (100vw - 320px) / 1300);
  }
}
.catalog__tilte:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (max-width: 1620px) {
  .catalog__tilte:not(:last-child) {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / 1300);
  }
}
.catalog__text {
  font-size: 20px;
}
@media screen and (max-width: 1620px) {
  .catalog__text {
    font-size: calc(16px + 4 * (100vw - 320px) / 1300);
  }
}
.catalog__text:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (max-width: 1620px) {
  .catalog__text:not(:last-child) {
    margin-bottom: calc(20px + 20 * (100vw - 320px) / 1300);
  }
}
.catalog__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(289px, 509px));
  gap: 33px 29px;
  justify-content: center;
  padding-top: 120px;
}
@media screen and (max-width: 1620px) {
  .catalog__cards {
    padding-top: calc(60px + 60 * (100vw - 320px) / 1300);
  }
}
.catalog__cards-inner {
  position: relative;
  z-index: 2;
}
@media screen and (width < 479.98px) {
  .catalog__cards-inner:not(:last-child) {
    margin-bottom: 20px;
  }
}
.catalog__cards-item {
  position: relative;
  padding: 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  min-height: 293px;
  overflow: hidden;
  display: flex;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .catalog__cards-item:hover {
    box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (width < 991.98px) {
  .catalog__cards-item {
    flex-direction: column;
  }
}
.catalog__cards-title-link:not(:last-child) {
  margin-bottom: 30px;
}
.catalog__cards-title-link:hover .catalog__cards-title::after {
  width: 100%;
}
.catalog__cards-link {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  position: relative;
  padding-left: 15px;
}
@media (any-hover: hover) {
  .catalog__cards-link:hover {
    color: var(--accent);
  }
}
.catalog__cards-link::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--accent);
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}
.catalog__cards-links-item:not(:last-child) {
  margin-bottom: 10px;
}
.catalog__cards-images {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0;
}
@media screen and (width < 479.98px) {
  .catalog__cards-images {
    position: static;
  }
}

.products-slider__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.products-slider__link-more {
  display: inline-flex;
  color: rgba(20, 20, 20, 0.58);
  font-weight: 600;
  letter-spacing: 0.9px;
  gap: 15px;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products-slider__link-more::after {
  content: "\e900";
  font-size: 0.625rem;
  color: var(--accent);
  transform: rotate(-90deg);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .products-slider__link-more:hover {
    color: rgb(20, 20, 20);
  }
}
.products-slider__swiper:not(:last-child) {
  margin-bottom: calc(30px + 20 * (100vw - 320px) / 1300);
}
.products-slider__slider {
  padding: 0.9375rem 1.25rem;
  margin: 0 -1.25rem;
}

.dotts {
  display: grid;
  grid-auto-flow: column;
  gap: 1.0625rem;
  justify-content: center;
  transform: translate(0, 10%);
  margin: 0 auto;
  overflow: hidden;
}

.swiper-pagination-bullet {
  position: relative;
  height: 1.875rem;
  width: 1.125rem;
  opacity: 1;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}
.swiper-pagination-bullet::after {
  opacity: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 0.125rem;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--gray-dotts);
}
.swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  opacity: 0;
}

.new-products__dotts .swiper-pagination-bullet::after {
  background-color: var(--white);
}

.new-products__dotts .swiper-pagination-bullet-active::after {
  background-color: var(--accent);
}

.swiper-pagination-bullet-active {
  width: 28px;
  transition: all 0.3s ease 0s;
}
.swiper-pagination-bullet-active::after {
  background-color: var(--accent);
}
.swiper-pagination-bullet-active::before {
  opacity: 1;
  left: 18px;
  transition: left 3s linear 0s;
}

.new-products .swiper-horizontal > .swiper-pagination-bullets,
.new-products .swiper-pagination-bullets.swiper-pagination-horizontal,
.new-products .swiper-pagination-custom,
.new-products .swiper-pagination-fraction {
  position: absolute;
}

.products-card {
  display: grid;
  max-width: 375px;
  background-color: var(--white);
  grid-template-rows: auto 1fr;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
@media (any-hover: hover) {
  .products-card:hover {
    transform: scale(1.05);
  }
}
.products-card__img-cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 240px;
}
.products-card__img {
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-right: 50px;
  width: 100%;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1620px) {
  .products-card__img {
    padding-top: calc(15px + 5 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .products-card__img {
    padding-left: calc(40px + 10 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .products-card__img {
    padding-bottom: calc(15px + 5 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .products-card__img {
    padding-right: calc(40px + 10 * (100vw - 320px) / 1300);
  }
}
.products-card__body {
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
}
.products-card__title {
  flex: 1 1 auto;
  margin-bottom: 0.9375rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.75rem;
}
.products-card__title-link {
  color: var(--cod-gray);
  font-size: 1.25rem;
  font-weight: 600;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .products-card__title-link:hover {
    color: var(--accent);
  }
  .products-card__title-link:focus-visible {
    color: var(--accent);
  }
}
.products-card__info {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  color: var(--gray);
  font-size: 1rem;
  font-weight: 600;
}
.products-card__info:not(:last-child) {
  margin-bottom: 0.75rem;
}
.products-card__materials {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border-top: 1px solid rgba(20, 20, 20, 0.5);
  margin-bottom: 30px;
  padding-top: 20px;
  margin-top: 20px;
}
.products-card__price {
  flex: 1 1 auto;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--cod-gray);
}
.products-card__compare-link {
  font-size: 1.5rem;
}
@media (any-hover: hover) {
  .products-card__compare-link:hover {
    color: var(--accent);
  }
}
.products-card__favorite-link {
  font-size: 1.625rem;
  color: var(--accent);
}
.products-card__btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.rating {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.rating__star {
  display: none;
}
.rating__group {
  position: relative;
  display: flex;
  gap: 5px;
  flex-direction: row-reverse;
}
.rating__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.rating__input:checked + .rating__label::before, .rating__input:checked ~ .rating__label::before {
  color: var(--accent);
}
.rating__label {
  font-size: 18px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.rating__label::before {
  color: var(--gray);
}
.rating__label:hover::before, .rating__label:hover ~ .rating__label::before {
  color: var(--accent) !important;
}
.rating__info {
  color: var(--gray);
  font-size: 1rem;
}

.rating:hover .rating__input:checked ~ .rating__label::before {
  color: rgba(232, 171, 49, 0.4);
}

.rating .rating__input:checked ~ .rating__label::before {
  color: var(--accent);
}

.hits {
  padding-bottom: 120px;
}
@media screen and (max-width: 1620px) {
  .hits {
    padding-bottom: calc(40px + 80 * (100vw - 320px) / 1300);
  }
}

.new-products {
  background: url(../images/background.jpg) bottom/cover no-repeat;
  padding-bottom: 55px;
}
@media screen and (max-width: 1620px) {
  .new-products {
    padding-bottom: calc(20px + 35 * (100vw - 320px) / 1300);
  }
}
.new-products__container {
  display: grid;
  row-gap: 2.5rem;
}
@media screen and (min-width: 992.01px) {
  .new-products__container {
    grid-template-columns: 25rem 1fr;
  }
}
.new-products__body {
  max-width: 21rem;
  margin-right: 66px;
  position: relative;
}
@media screen and (max-width: 1620px) {
  .new-products__body {
    margin-right: calc(20px + 46 * (100vw - 805px) / 815);
  }
}
.new-products__body::before {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/background.jpg);
  position: absolute;
  content: "";
  height: calc(100% + 2.75rem);
  width: 55.9375rem;
  bottom: 0;
  left: 0;
}
.new-products__tilte {
  position: inherit;
  padding-top: 18px;
  color: var(--white);
}
@media screen and (max-width: 1620px) {
  .new-products__tilte {
    padding-top: calc(30px + -12 * (100vw - 320px) / 1300);
  }
}
.new-products__tilte:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 1620px) {
  .new-products__tilte:not(:last-child) {
    margin-bottom: calc(20px + 10 * (100vw - 320px) / 1300);
  }
}
.new-products__text {
  position: inherit;
}
.new-products__link {
  display: inline-block;
  padding-right: 29px;
}
.new-products__slider {
  min-width: 0;
  padding-top: 3.4375rem;
}
.sl-wrapper .sl-counter {
  top: 100px;
}

.sl-wrapper .sl-close {
  top: 110px;
}/*# sourceMappingURL=style.css.map */