
// 500

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.woff2) format('woff2'), url(../fonts/Montserrat-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}
%Montserrat-500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


// 600
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2'), url(../fonts/Montserrat-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
%Montserrat-600 {
    font-family: 'Montserrat', cursive;
    font-weight: 600;
}
// 700
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff2) format('woff2'), url(../fonts/Montserrat-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
%Montserrat-700 {
    font-family: 'Montserrat', cursive;
    font-weight: 700;
}

@font-face {
    font-family: 'icons';
    font-display: swap;
    src: url(../fonts/icons.woff2) format('woff2'), url(../fonts/icons.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
// @extend %Montserrat-600;



