.card {

  &__box {
    display: flex;
    gap: rem(30);
    display: grid;
    grid-template-columns: 47% 1fr;
  }

  &__content {
    width: 100%;
    background: var(--background);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    @include adaptivevalue(padding, 20, 15, 1620, 320, 1);
    padding: rem(20);
  }

  &__content-top {
    &:not(:last-child) {
      padding-bottom: rem(15);
    }

    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(15);
      @include adaptivevalue(font-size, 24, 18, 1620, 320, 1);
    }
  }


  &__content-user-links-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
  }

  &__content-user-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);
  }

  &__content-аvailability {
    color: var(--green);
    font-size: rem(16);
    margin-top: rem(15);
  }

  &__content-definitions-list {
    padding: rem(20) 0;
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
  }

  &__content-definitions-item {
    display: flex;
    // grid-template-columns: rem(200) 1fr;
    @include adaptivevalue(gap, 20, 5, 1620, 320, 1);
    // @include adaptivevalue(font-size, 18, 14, 1620, 320, 1);

    &:not(:last-child) {
      @include adaptivevalue(margin-bottom, 20, 10, 1620, 320, 1);
    }

    dt {
      @include adaptivevalue(max-width, 200, 130, 1620, 320, 1);

      width: 100%;
    }

    dd {
      color: rgba(20, 20, 20, 0.5);
    }
  }

  .images-product__slider1 {
    @include adaptivevalue(height, 574, 258, 1620, 320, 1);
  }

  & .swiper-slide {
    text-align: center;
    background: #fff;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-size: cover;
    background-position: center;
  }

  & .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .swiper {
    width: 100%;
    // @include adaptivevalue(height, 652, 255, 1620, 320, 1);
    // height: 652px;

    margin-left: auto;
    margin-right: auto;
  }

  // ???
  .images-product__slider {
    overflow: hidden;
  }

  & .mySwiper2 {
    // height: 80%;
    width: 100%;
  }

  & .mySwiper {
    // @include adaptivevalue(height, 26%, 24%, 1620, 1200, 1);
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  & .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    width: rem(35);
    height: rem(35);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--white));
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 2px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-family: swiper-icons;
    // font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-size: 11px;
    font-weight: 700;
  }

  & .rate {
    display: inline-block;

    & svg {
      width: rem(21);
      height: rem(21);
    }
  }








  &__description-tabs-inner {
    background-color: var(--background);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    @include adaptivevalue(padding, 30, 15, 1620, 320, 1);
  }

  &__description-tabs {
    display: flex;
    align-items: center;
    @include adaptivevalue(gap, 60, 30, 1620, 650, 1);
    border-bottom: 1px solid var(--gray);
  }

  &__description-tabs-link {
    font-size: rem(20);
    font-weight: 600;
    color: var(--gray);
    padding-bottom: rem(20);
    position: relative;

    &::after {
      opacity: 0;
      position: absolute;
      content: "";
      height: rem(2);
      background-color: var(--accent);
      box-shadow: 0px 4px 20px 0px rgba(232, 170, 49, 0.30);
      bottom: rem(-1);
      left: 0;
      width: 100%;
      transition-duration: 450ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__description-tabs-link.tabs__link--active {
    color: var(--cod-gray);

    &::after {
      opacity: 1;
    }
  }

  &__description-tabs-content {
    margin-top: rem(44);

    &--align {
      text-align: end;
    }
  }

  &__description-content-text {
    &:not(:last-child) {
      @include adaptivevalue(margin-bottom, 30, 20, 1620, 320, 1);
    }
  }

  &__description-content-span {
    color: var(--black);
    font-weight: 600;
  }


  &__description-tabs-content--nocomments {
    margin-top: rem(30);
  }

  &__description-tabs-nocomments {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .comments__btn-link {
      margin-top: 0;
    }
  }







  @media screen and (width < 886.01px) {
    &__box {
      display: block;
    }
  }

  @media screen and (width < 650.01px) {
    &__description-tabs {
      flex-direction: column;
    }
  }


  @media screen and (width < 480.01px) {
    &__content-user-links-inner {
      flex-wrap: wrap;
    }

  }
}

.tabs__content-item {
  display: none;
}

.tabs__content-item.tabs__content--active {
  display: block;
}