.catalog-page {
  &__title {
    margin-top: rem(30);
  }

  &__control {
    display: flex;
    justify-content: flex-end;

    &:not(:last-child) {
      @include adaptivevalue(margin-bottom, 25, 15, 1620, 320, 1);
    }
  }

  &__box {
    display: flex;
    gap: rem(30);
  }


  &__list {
    display: flex;
    justify-content: space-around;
    @include adaptivevalue(gap, 30, 10, 1620, 320, 1);
    flex-wrap: wrap;
    margin-bottom: rem(60);

    .products-card {
      margin: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptivevalue(width, 326, 290, 1620, 320, 1);
    height: rem(50);
    border-radius: rem(3);
    border: 2px solid var(--accent);
    background-color: rgba(232, 170, 49, 0.00);

    color: var(--accent);
    font-size: rem(20);
    font-weight: 600;
    line-height: calc(20/46);
    cursor: pointer;
    @include transition ($transition-property: box-shadow);

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 4px 20px 0px rgba(232, 170, 49, 0.43);
      }
    }
  }

  &__pagging {
    display: flex;
    align-items: center;
    @include adaptivevalue(gap, 30, 15, 1620, 320, 1);
  }

  &__pagging-arrow {
    color: var(--accent);

    &::before {
      font-size: rem(20);
    }

    &:disabled {
      color: rgba(0, 0, 0, 0.12);
    }

    &--prev {
      transform: rotate(90deg);
    }

    &--next {
      transform: rotate(-90deg);
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    @include adaptivevalue(gap, 30, 10, 1620, 320, 1);
  }

  &__pagination-item {
    color: var(--black);
    line-height: calc(18/32);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(34);
    height: rem(34);
    border-radius: 50%;
    @include transition ($transition-property: (background-color, color));

    @media (any-hover: hover) {
      &:hover {
        color: var(--white);
        background-color: var(--accent);
      }
    }
  }

  &__pagination-item.active {
    color: var(--white);
    background-color: var(--accent);
  }

  @media screen and (width < 1200.01px) {
    &__footer {
      flex-direction: column;
      row-gap: rem(50);
    }
  }

  @media screen and (width < 712.01px) {
    &__box {
      flex-direction: column;
    }
  }

  //  Цена range
  .range {

    &__values {
      display: flex;
      @include adaptivevalue(width, 312, 290, 1620, 320, 1);
      // width: rem(312);
      border-radius: rem(2);
      border: 1px solid #CBCBCB;
      font-size: rem(16);
      margin-top: rem(30);

      &:not(:last-child) {
        margin-bottom: rem(30);
      }

      &-input {
        padding: rem(12) rem(36);
        width: 50%;
        color: var(--cod-gray);
        text-align: center;
        line-height: calc(20/16);
      }
    }

    &__slider {
      @include adaptivevalue(width, 312, 234, 1620, 320, 1);
      margin: 0 auto;
      // width: rem(312);
    }
  }
}





.filter-style.select-item {
  color: rgba(0, 0, 0, 0.50);
  font-size: rem(16);
  border-radius: 3px;
  border: 1px solid rgba(4, 4, 4, 0.30);
  background: #FEFEFE;
  width: rem(374);

  // @media screen and (width < 770.01px) {
  //   margin: rem(15) 0;
  // }

  // @media screen and (width < 440.01px) {
  //   padding: rem(5);
  // }
}


.jq-selectbox__select {
  display: flex;
  align-items: center;
  height: rem(40);
  padding: rem(0) rem(45) rem(0) rem(20);
  border: none;
  font-size: rem(16);
  @extend %Montserrat-500;
  background: #FEFEFE;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.50);
  text-shadow: none;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  content: url(../images/icons/trigger-arrow.svg);
  top: 50%;
  transform: translateY(-50%);
  right: rem(20);
  width: rem(12);
  height: rem(8);
  border: none;
}

.jq-selectbox__dropdown {
  font-size: rem(14);
  @extend %Montserrat-500;
}



.noUi-target {
  background: var(--accent);
  border-radius: rem(2);
  border: none;
  box-shadow: none;
}

.noUi-horizontal {
  height: rem(2);
}

.noUi-connect {
  background-color: var(--black);
}


.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-horizontal .noUi-handle {
  border-radius: 50%;
  right: rem(-9);
  top: rem(-9);
  height: rem(18);
  width: rem(18);
}

.noUi-handle {
  border: 3px solid var(--accent);
  border-radius: 3px;
  background: var(--black);
  cursor: default;
  box-shadow: none;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: none;
  border-radius: 3px;
  background: transparent;
  color: rgba(20, 20, 20, 0.50);
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: rem(-52);
}