.characteristic {
  display: flex;
  justify-content: space-between;
  gap: rem(20);

  &__item {
    max-width: rem(509);

    @media screen and (width > 1082.01px) {
      &:not(:first-child) {
        border-left: 1px solid var(--gray);
        padding-left: rem(30);
      }
    }
  }

  &__table-item {
    display: flex;
    gap: rem(30);


    &:not(:last-child) {
      @include adaptivevalue(margin-bottom, 20, 10, 1620, 320, 1);
    }
  }

  &__title {
    &:not(:last-child) {
      @include adaptivevalue(margin-bottom, 30, 20, 1620, 320, 1);
    }
  }



  &__table-neme {
    width: rem(195);

    &--width {
      width: rem(90);

    }
  }

  @media screen and (width < 1090.01px) {
    flex-wrap: wrap;

  }

  &__item {
    margin-bottom: rem(20);
  }

  @media screen and (width < 480.01px) {
    &__table-item {
      display: block;
    }
  }
}