.footer {
  color: rgba(255, 255, 255, 0.80);

  &__header {
    padding: rem(70) rem(10) rem(60);
    background-image: url(../images/footer-bg@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-mini-device-pixel-ratio: 2/1),
    screen and (min-resolution: 228dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../images/footer-bg@2x.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__title {
    text-align: center;
    color: var(--accent);
  }

  &__header-text {
    margin-top: rem(30);
    color: var(--white);
    letter-spacing: 0.54px;
  }

  &__background {
    padding: rem(68) rem(10) rem(30);
    background-color: var(--cod-gray);
  }

  &__body-wrapper {
    display: flex;
    justify-content: space-between;
    @include adaptivevalue(gap, 50, 20, 1620, 990, 1);
    border-bottom: rem(1) solid rgba(255, 255, 255, 0.50);
    padding-top: rem(35);
    @include adaptivevalue(padding-bottom, 30, 0, 1620, 320, 1);
  }

  &__body-wrapper-item {
    width: rem(318);
    // outline: 1px solid green;
  }

  &__body-item {

    &:not(:last-child) {
      @include adaptivevalue(margin-bottom, 20, 30, 1620, 320, 1);
    }

    & p {
      display: inline-block;
    }
  }

  &__body-link {
    @include transition ($transition-property: color);

    & span {
      color: var(--accent);
      @include transition ($transition-property: text-decoration);

      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }

      &:hover .footer__body-link__icon {
        color: var(--accent);
      }
    }


    &--contacts {
      display: flex;
      align-items: center;
      gap: rem(16);
    }

    &--nohover {
      @media (any-hover: hover) {
        &:hover {
          color: inherit;
        }
      }
    }
  }

  &__body-link--address {
    flex-direction: column;
    align-items: flex-start;
  }


  &__body-title {
    pointer-events: none;
    margin-bottom: rem(30);
  }

  &__link-address {
    display: flex;
    align-items: center;
    gap: rem(18);
  }

  &__text-address {
    padding-left: rem(33);
  }

  &__bottom {
    padding: rem(30) 0 rem(50) 0;
    display: flex;
    justify-content: space-between;
    gap: rem(20);

    &-text {
      max-width: rem(800);
      font-size: rem(14);
    }
  }

  &__bottom-link {
    @include transition ($transition-property: color);
    font-size: rem(14);

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }
    }
  }

  &__bottom-link-text {
    display: inline-block;
  }

  &__form-text {
    margin-bottom: rem(20);
  }

  &__form-inner {
    display: flex;
    align-items: center;
    margin-bottom: rem(22);
  }

  &__form-input {
    border-radius: 3px;
    border-right: none;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.52);
    font-size: 16px;
    padding: rem(15) rem(20);
    height: rem(50);
    width: 100%;
  }

  &__form-btn {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background-color: var(--accent);
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  & .checkbox__label {
    color: rgba(255, 255, 255, 0.80);
    @include adaptivevalue(font-size, 16, 14, 1620, 320, 1);
    line-height: rem(22);
  }








  @media screen and (width < 1150.01px) {
    &__body-wrapper {
      flex-direction: column;
      text-align: center;
      gap: rem(60);
    }

    &__body-wrapper-item {
      width: 100%;
    }

    &__body-title {
      position: relative;
      pointer-events: none;
      pointer-events: all;

      &::after {
        position: absolute;
        content: url(../images/icons/arrow-footer.svg);
        width: rem(12);
        height: rem(24);
        top: 45%;
        transform: translateY(-50%);
        right: rem(-30);
        @include transition ($transition-property: all);
      }
    }

    &__body-title--active::after {
      transform: rotate(180deg);
      top: 0;
    }

    &__body-list {
      display: none;
    }

    &__body-title--active .footer__body-list {
      display: block;
    }

    &__body-link--contacts {
      justify-content: center;
    }

    &__body-link--address {
      align-items: center;
    }

    &__form-mail {
      margin: 0 auto;
    }


    &__bottom {
      flex-direction: column;
    }

    &__bottom-link {
      text-align: center;
      display: inline-flex;
    }

    .social {
      margin-bottom: rem(62);
    }
  }


  @media screen and (width < 345.01px) {
    &__bottom-link {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}










.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;

  &__link {
    display: inline-block;
    text-decoration: underline;
    color: var(--accent);
  }

  &__text {
    font-size: 12px;
    line-height: calc(14/12);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(24/14);
    }
  }

  &__castom-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid var(--white);
    margin-right: 7px;

    @include transition ($transition-property: border);
  }

  &__icon-check {
    cursor: pointer;
    opacity: 0;
    transition-property: opacity;
    @include transition ($transition-property: opacity);
  }

  &:checked + &__label &__castom-icon {
    background: var(--accent);
    border-color: var(--accent);
  }

  &:checked + &__label &__castom-icon &__icon-check {
    opacity: 1;
  }

  &__label {
    display: inline-flex;
    @include adaptivevalue(gap, 15, 5, 1620, 320, 1);
    align-items: baseline;
    @include transition ($transition-property: background-color);
    text-align-last: left;
  }
}