.header {
  background-color: var(--cod-gray);
  color: var(--white);

  &-top {
    min-height: 50px;
    padding: 10px 0;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }



    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 23px;
      padding-bottom: 19px;

      &-list {
        display: flex;
        align-items: center;
        row-gap: 5px;
        flex-wrap: wrap;
        @include adaptive-value(column-gap, 60, 10, 0);

        @media screen and (width < 991.98px) {
          flex-direction: column;
          row-gap: 25px;
          align-items: flex-start;
        }
      }

      &-item--hidden {
        display: none;

        @media screen and (width < 991.98px) {
          display: block;
        }
      }

      &-link {
        @include adaptivevalue(font-size, 16, 14, 1620, 992, 1);
        line-height: calc(20/16);
        @include transition ($transition-property: color);

        @media (any-hover: hover) {
          &:hover {
            color: var(--accent);
          }

          &:hover .header-top__menu-link--catalog::before {
            color: var(--accent);
          }
        }

        @media screen and (width < 991.98px) {
          @include adaptivevalue(font-size, 30, 20, 992, 320, 1);
        }

        &--catalog {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;

          &::before {
            height: 14px;
            color: var(--white);
            transform: rotate(-90deg);
            @include adaptive-value(margin-left, 17, 5, 0);
            @include adaptivevalue(font-size, 9.5, 7.5, 1620, 992, 1);
            // font-size: calc(9.5/16)+rem;
            padding-top: 4px;
            @include transition ($transition-property: transform);
          }
        }

      }

      @media screen and (width < 991.98px) {
        display: none;
      }
    }

    &__user {
      display: flex;
      align-items: center;
      gap: 15px;
      @extend %Montserrat-600;
      @include adaptivevalue(font-size, 18, 16, 1620, 992, 1);
      line-height: calc(22/18);
      @include transition ($transition-property: color);

      &::before {
        width: 21px;
        font-size: 28px;
      }


      @media (any-hover: hover) {
        &:hover {
          @include transition ($transition-property: color);
          color: var(--accent);
        }
      }

      @media screen and (width < 991.98px) {
        position: relative;
        z-index: 3;

        span {
          display: none;
        }
      }

    }

    @media screen and (width < 991.98px) {
      column-gap: 35px;
      align-items: center;
    }
  }








  &-center {
    background-color: var(--header-center);
    color: var(--black);
    padding: 10px 0;

    &__inner {
      display: flex;
      min-height: 70px;
      align-items: center;
      justify-content: space-between;

      @media screen and (width < 567.98px) {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
      }
    }

    &__logo {
      @extend %ic;
      @extend ._icon-logo;
      font-size: 2.65625rem;
    }

    &__search {
      @include adaptivevalue(margin-left, 158, 0, 1620, 992, 1);
      // @include adaptivevalue(max-width, 377, 250, 1620, 568, 1);
      // flex: 1 1 auto;
      max-width: calc(377/16)+rem;
      width: 100%;

      @media screen and (width < 1067.98px) {
        max-width: 33%;
      }

      @media screen and (width < 991.98px) {
        @include adaptivevalue(max-width, 377, 300, 1620, 568, 1);
        margin-left: 0;
      }

      @media screen and (width < 567.98px) {
        max-width: 100%;

      }

      &-form {
        position: relative;
        background-color: rgba(7, 7, 7, 0.03);
      }

      &-input {
        border: 1px solid rgba(4, 4, 4, 0.50);
        background-color: transparent;
        border-radius: 3px;
        width: 100%;
        height: 2.5625rem;
        padding: 0 1.25rem 0 3.125rem;


        color: var(--black);
        font-size: .875rem;
        line-height: calc(17/14);
        @include transition ($transition-property: border);

        &:hover {
          border: 1px solid #e8aa31;
        }

        &::placeholder {
          color: rgba(0, 0, 0, 0.50);
        }
      }

      &-btn {
        position: absolute;
        color: rgba(0, 0, 0, 0.50);
        width: 2.5625rem;
        height: 2.5625rem;
        font-size: calc(12/16)+rem;
        top: 50%;
        transform: translateY(-50%);
        left: .5rem;

        &:hover .header-center__search-input {
          border: 1px solid #e8aa31;
        }
      }


    }

    &__actions {
      display: flex;
      align-items: center;
      // gap: 0 30px;
      @include adaptivevalue(gap, 30, 15, 1620, 1200, 1);
      @include adaptivevalue(margin-left, 232, 15, 1620, 1200, 1);

      @media screen and (width < 991.98px) {
        display: none;
      }
    }


    &__location {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      @include adaptive-value(margin-right, 25, 3, 0);
      padding-left: 10px;
      @include adaptivevalue(font-size, 18, 16, 1620, 992, 1);
      font-weight: 600;

      &::before {
        color: var(--black);
        height: 24px;
        font-size: calc(24/16)+rem;
      }

      @media screen and (width < 991.98px) {
        display: none;
      }
    }

    &__phone {
      @include adaptivevalue(font-size, 18, 16, 1620, 992, 1);
      font-weight: 600;
      line-height: calc(22/18);
      white-space: nowrap;

      @media screen and (width < 991.98px) {
        order: -1;
        position: relative;
        z-index: 3;
      }


      &-item {
        position: relative;
        display: flex;
      }

      &-link {
        display: inline-block;
        // margin-bottom: calc(5/16)+rem;
        @include transition ($transition-property: color);


        @media (any-hover: hover) {
          &:hover {
            color: var(--accent);
          }
        }


        @media screen and (width < 479.98px) {
          span {
            display: none;
          }
        }
      }

      &-btn {
        display: flex;
        align-items: center;
        @include adaptive-value(margin-left, 17, 5, 0);

        &-arrow {
          @include transition ($transition-property: transform);

          @media screen and (width < 479.98px) {
            display: none;
          }
        }

        &-icon {
          display: none;
          @include transition ($transition-property: color);


          @media (any-hover: hover) {
            &:hover {
              color: var(--accent);
            }
          }

          @media screen and (width < 479.98px) {
            display: block;
            position: relative;
            z-index: 3;
          }
        }
      }


      &-btn.active {
        .header-center__phone-btn-arrow {
          transform: rotate(-180deg);
        }

      }

      &-list {
        box-shadow: 0 0 5px rgba(113, 109, 109, 0.04);
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        left: -2px;
        background-color: var(--header-center);
        padding: calc(15/16)+rem;
        border-radius: calc(10/16)+rem;
        z-index: 1;

        li {
          &:not(:last-child) {
            margin-bottom: calc(10/16)+rem;
          }
        }

        @media screen and (width < 991.98px) {
          background-color: var(--cod-gray);
          padding: 12px;
        }

        @media screen and (width < 479.98px) {
          width: 550%;
        }
      }

      &-callback {
        font-weight: 700;
        line-height: calc(22/18);
        color: var(--accent);
        @include transition ($transition-property: text-decoration);

        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__favorite {
      font-size: calc(27/16)+rem;
      height: 27px;
      position: relative;
      z-index: 3;
    }

    &__card {
      display: flex;
      align-items: center;
      gap: 0 15px;

      &-icon {
        display: flex;
        position: relative;

        & span {
          position: absolute;
          top: -2px;
          right: -7px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--accent);
          padding: 2px 4px;
          color: #FFF;
          font-size: .5rem;
          line-height: calc(10/8);

          width: 18px;
          height: 18px;
        }

        position: relative;
        z-index: 3;
      }

      &-body {
        font-size: calc(16/16)+rem;
        line-height: calc(20/16);
        flex: 0 0 auto;

        @media screen and (width < 1200px) {
          display: none;
        }

      }

      &-summa {
        color: var(--black);
      }

      &-link {
        margin-top: 5px;
        color: var(--accent);
        @include transition ($transition-property: text-decoration);

        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }






  &-catalog {
    position: relative;
    background-color: var(--cod-gray);
    box-shadow: 0px 4px 20px 0px rgba(53, 53, 53, 0.18);

    &__nav {
      @media screen and (width < 991.98px) {
        position: fixed;
        top: 0;
        transform: translateX(-130%);
        // left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: var(--cod-gray);
        padding: 30px 30px 50px 20px;
        @include transition ($transition-property: transform);

        .catalog-open & {
          // left: 0;
          transform: translateX(0%);
          z-index: 4;
        }
      }
    }

    &__back {
      display: none;

      @media screen and (width < 991.98px) {
        display: block;
        @include adaptivevalue(font-size, 30, 20, 922, 320, 1);
        margin-bottom: 30px;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }

    &__list {
      display: flex;
      gap: 10px;
      justify-content: space-between;

      @media screen and (width < 991.98px) {
        flex-direction: column;
        row-gap: 25px;
      }
    }

    &__link {
      display: flex;
      position: relative;
      color: var(--white);
      // @include adaptivevalue(font-size, 30, 20, 992, 320, 1);
      @include transition ($transition-property: color);

      &[data-parent] {
        &::before {
          @extend %ic;
          @extend ._icon-arrow_bottom;
          display: none;

          @media screen and (width < 991.98px) {
            transform: rotate(-90deg);
            display: block;
            font-size: calc(10/16)+rem;
          }
        }

        @media screen and (width < 991.98px) {
          // display: flex;
          width: 100%;
          justify-content: space-between;
          flex-direction: row-reverse;
        }
      }



      &::after {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        content: '';
        height: 2px;
        background-color: var(--accent);
        box-shadow: 0px 4px 20px 0px rgba(232, 170, 49, 0.30);
        bottom: 0;
        left: 10px;
        width: calc(100% - 20px);
        @include transition ($transition-property: color);

        @media (any-hover: hover) {
          &:hover {
            color: var(--accent);
          }
        }

      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--accent);
        }
      }

      &._submenu-active {
        &::after {
          opacity: 1;
          visibility: visible;

          @media screen and (width < 991.98px) {
            width: 100%;
            left: 0px;
          }
        }
      }

      @media screen and (width > 991.98px) {
        padding: 0 10px;
        min-height: 70px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: calc(18/16)+rem;
      }
    }



    &__submenu {
      background-color: var(--cod-gray);
      width: 100%;
      left: 0;
      top: 100%;

      & container {
        padding: 0 10px;
      }

      &-block {
        display: none;

        @for $var from 1 to 6 {
          &--#{$var} {
            grid-template-columns: repeat($var, minmax(auto, 320px));
          }
        }


        &._submenu-open {
          display: grid;

          @media screen and (width < 991.98px) {
            display: block;
          }
        }

        @media screen and (width < 991.98px) {
          position: fixed;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: var(--cod-gray);
          padding: 30px 15px 50px 20px;
          @include transition ($transition-property: transform);


          &._submenu-open {
            display: block;
            left: 0;
            z-index: 4;
          }
        }
      }

      &-back {
        display: none;

        @media screen and (width < 991.98px) {
          display: block;
          @include adaptivevalue(font-size, 30, 20, 922, 320, 1);
          margin-bottom: 30px;

          svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }


      &-category {
        @include adaptive-value(font-size, 16, 12, 0);
        // min-height: 96px;
        // font-size: calc(16/16)+rem;
        line-height: calc(20/16);
        font-weight: 700;
        padding: 30px 15px 30px 0;

        @include transition ($transition-property: color);

        @media (any-hover: hover) {
          &:hover {
            color: var(--accent);
          }
        }

        &-link {
          // @include adaptivevalue(font-size, 30, 20, 992, 320, 1);
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 15px 30px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.30);
        border-bottom: 1px solid rgba(255, 255, 255, 0.30);
      }

      &-link {
        font-size: calc(16/16)+rem;
        line-height: calc(20/16);
        @include transition ($transition-property: color);

        @media (any-hover: hover) {
          &:hover {
            color: var(--accent);
          }
        }
      }

      &-footer {
        padding: 30px 15px 30px 0;

        @media screen and (width < 991.98px) {
          display: none;
        }
      }

      &-all {
        color: var(--accent);
        font-size: calc(16/16)+rem;
        line-height: calc(20/16);
        @include transition ($transition-property: text-decoration);

        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}