.header {
  background: #141414;
  color: var(--white);

  &-top {
    min-height: 50px;
    padding: 10px 0;


    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 23px;
      padding-bottom: 19px;
    }
  }

  &-center {
    background: #ECF1F2;
    color: var(--black);
    padding: 10px 0;

    &__inner {
      display: flex;
      min-height: 70px;
      align-items: center;
    }

    &__logo {
      @extend %ic;
      @extend ._icon-logo;
      font-size: 2.65625rem;
    }

    &__search {
      @include adaptive-value(margin-left, 158, 20, 0);
      flex: 1 1 auto;

      &-form {
        position: relative;
        max-width: calc(377/16)+rem;
      }

      &-input {
        width: 100%;
        height: 2.5625rem;
        background-color: rgba(7, 7, 7, 0.03);
        border: 1px solid rgba(4, 4, 4, 0.50);
        border-radius: 3px;
        padding: 0 1.25rem 0 3.125rem;
        color: var(--black);
        font-size: .875rem;
        line-height: calc(17/14);

        &::placeholder {
          color: rgba(0, 0, 0, 0.50);
        }
      }

      &-btn {
        position: absolute;
        color: rgba(0, 0, 0, 0.50);
        width: 2.5625rem;
        height: 2.5625rem;
        font-size: calc(12/16)+rem;
        top: 50%;
        transform: translateY(-50%);
        left: .5rem;
        // margin-right: 10px;
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 0 30px;
      // @include adaptive-value(margin-left, 238, 3, 0);
    }


    &__location {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      @include adaptive-value(margin-right, 25, 3, 0);
      padding-left: 10px;

      font-weight: 600;

      &::before {
        color: var(--black);
        height: 24px;
        font-size: calc(24/16)+rem;
      }
    }

    &__phone {
      font-weight: 600;
      line-height: calc(22/18);
      @include adaptive-value(margin-right, 30, 7, 0);
      white-space: nowrap;

      &-item {
        position: relative;
        display: flex;
      }

      &-link {
        display: inline-block;
        margin-bottom: calc(5/16)+rem;
      }

      &-arrow.active._icon-arrow_bottom::before {
        transform: rotate(-180deg);
        padding-top: 8px;
      }

      &-list {
        box-shadow: 0 0 5px rgba(113, 109, 109, 0.04);
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        left: -2px;
        background-color: var(--header-center);
        padding: calc(15/16)+rem;
        border-radius: calc(10/16)+rem;

        li {
          &:not(:last-child) {
            margin-bottom: calc(10/16)+rem;
          }
        }
      }

      &-callback {
        font-weight: 700;
        line-height: calc(22/18);
        color: var(--accent);
        @include transition ($transition-property: text-decoration);

        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__favorite {
      font-size: calc(27/16)+rem;
    }

    &__card {
      display: flex;
      align-items: center;
      gap: 0 15px;

      &-icon {
        display: flex;
        position: relative;

        & span {
          position: absolute;
          top: -2px;
          right: -7px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--accent);
          padding: 2px 4px;
          color: #FFF;
          font-size: .5rem;
          line-height: calc(10/8);

          width: 18px;
          height: 18px;
        }
      }

      &-summa {
        color: var(--black);
        font-size: calc(16/16)+rem;
        line-height: calc(20/16);
      }

      &-link {
        margin-top: 5px;
        color: var(--accent);
        font-size: calc(16/16)+rem;
        line-height: calc(20/16);
        @include transition ($transition-property: text-decoration);

        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }






  &-catalog {
    position: relative;
    background-color: var(--cod-gray);
    box-shadow: 0px 4px 20px 0px rgba(53, 53, 53, 0.18);

    &__list {
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }

    &__link {
      padding: 0 10px;
      min-height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      @include transition ($transition-property: color);

      @media (any-hover: hover) {
        &:hover {
          color: var(--accent);
        }
      }

      // &--active {
        position: relative;

        &::after {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          content: '';
          height: 2px;
          background-color: var(--accent);
          box-shadow: 0px 4px 20px 0px rgba(232, 170, 49, 0.30);
          bottom: 0;
          left: 10px;
          width: calc(100% - 20px);

          @include transition ($transition-property: color);

          @media (any-hover: hover) {
            &:hover {
              color: var(--accent);
            }
          // }
        }
      }

      &._submenu-active {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__submenu {
      // opacity: 0;
      // visibility: hidden;
      // position: absolute;
      background-color: var(--cod-gray);
      width: 100%;
      left: 0;
      top: 100%;


      &-block {
              padding-bottom: 30px;
        display: none;
        // justify-content: space-between;
        @include transition ($transition-property: opacity);

        &._submenu-open {
          display: flex;
          opacity: 1;
          visibility: visible;
        }
      }

      &-column {
        flex: 0 1 320px;
        display: flex;
        flex-direction: column;
      }

      &-category {
        align-self: flex-start;
        @include adaptive-value(font-size, 16, 12, 0);
        min-height: 96px;
        // font-size: calc(16/16)+rem;
        line-height: calc(20/16);
        font-weight: 700;
        padding: 30px 15px;

        @include transition ($transition-property: color);

        @media (any-hover: hover) {
          &:hover {
            color: var(--accent);
          }
        }
      }

      &-list {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.30);
        border-bottom: 1px solid rgba(255, 255, 255, 0.30);
      }

      &-link {
        font-size: calc(16/16)+rem;
        line-height: calc(20/16);
        @include transition ($transition-property: color);

        @media (any-hover: hover) {
          &:hover {
            color: var(--accent);
          }
        }
      }

      &-all {
        align-self: flex-start;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        color: var(--accent);
        font-size: calc(16/16)+rem;
        line-height: calc(20/16);
        @include transition ($transition-property: text-decoration);

        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }




  }


}

._icon-arrow_bottom::before {
  @include adaptive-value(margin-left, 17, 5, 0);
  color: var(--accent);
  font-size: calc(9.5/16)+rem;
  padding-top: 4px;
  @include transition ($transition-property: transform);
}