.menu {
  display: none;

  @media screen and (width < 991.98px) {
    display: flex;
    align-items: center;
    // flex: 1 1 auto;
    justify-content: space-between;
    // @include adaptivevalue(column-gap, 35, 15, 992, 320, 1);
    gap: 35px;
  }

  &__btn {
    display: none;

    @media screen and (width < 991.98px) {
      position: relative;
      margin-left: 20px;
      display: inline-block;
      width: 50px;
      height: 37px;
      padding: 10px;
      background: transparent;
      border: none;
      z-index: 10;
      @include transition ($transition-property: color);


      @media (any-hover: hover) {
        &:hover span {
          background-color: var(--accent);
        }
      }


      &-line {
        position: absolute;
        left: 10px;
        width: 28px;
        height: 3px;
        background-color: var(--white);
        border-radius: 20px;
        @include transition ($transition-property: (color, transform));

        &:nth-child(1) {
          top: 10px;
        }

        &:nth-child(2) {
          top: calc(10px + 3px + 4px);
        }

        &:nth-child(3) {
          top: calc(10px + 3px + 4px + 3px + 4px);
        }

        .menu-open &:nth-child(1) {
          transform: scaleX(0);
        }

        .menu-open &:nth-child(2) {
          transform: rotate(45deg);
          top: 24px;
        }

        .menu-open &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }



  &__body {
    @media screen and (width < 991.98px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      overflow: auto;
      background-color: var(--cod-gray);
      padding: 80px 15px 50px 15px;
      z-index: 1;
      @include transition ($transition-property: left);

      &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 70px;
        left: -100%;
        top: 0;
        background-color: var(--cod-gray);
      }

      .menu-open & {
        left: 0;

        &::before {
          left: 0;
        }
      }
    }
  }

}