.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;

    @include transition ((opaciti, visibility));
    backdrop-filter: blur(10px);
}

.modal {
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0;
    right: 0;
    margin: auto;

    width: 528px;
    height: 581px;
    padding-top: 40px;
    padding-right: 39px;
    padding-bottom: 40px;
    padding-left: 41px;

    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @include transition ($transition-property: scale);

    @media screen and (width < 479.98px) {
            width: 85%;
            height: 85%;
        }
}


.is-hidden {
    visibility: hidden;
    cursor: pointer;
}

.is-hidden .modal {
    scale: 0;
}

/* Выравнивание кнопки относительно мод.окна */
.close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    & span {
        color: #000000;
        @include transition ($transition-property: color);
        cursor: pointer;
    }

    &:hover span,
    &:focus span {
        color: var(--accent);
        @include transition ($transition-property: color);

    }
}

.form {
    font-size: calc(12/16)+rem;
    line-height: calc(14 / 12);


    &__title {
        font-weight: 700;
        font-size: calc(18/16)+rem;
        line-height: calc(24 / 16);
        text-align: center;
        color: #212121;
        margin-bottom: 12px;
    }

    &__label {
        display: block;
        margin: 12px auto 4px;
    }


    &__input {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: transparent;

        @include transition ($transition-property: border);

        padding-left: 42px;
        height: 40px;
        width: 100%;
    }

    &__input:hover,
    &__input:focus {
        border: 1px solid var(--accent);
    }

    &__input:hover + &__icon,
    &__input:focus + &__icon {
        fill: var(--accent);
    }


    #comment {

        padding-left: 16px;
        padding-top: 12px;
        margin-bottom: 20px;
        font-size: calc(12/16)+rem;
        line-height: calc(14/12);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        resize: none;
        width: 100%;
        height: 96px;
    }

    &__icon-wrap {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__icon {
        position: absolute;
        left: 12px;
        fill: #000000;
    }
}


.checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &__link {
        margin-left: 5px;
        text-decoration: underline;
        color: var(--accent);

    }

    &__text {
        display: inline-flex;
        font-size: calc(8/16)+rem;
        line-height: calc(10/8);
    }

    &__castom-icon {
        position: relative;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 15px;
        border-radius: 2px;
        border: 2px solid #212121;
        margin-right: 7px;

        @include transition ($transition-property: border);
    }

    &__icon-check {
        opacity: 0;
        transition-property: opacity;
        @include transition ($transition-property: opacity);
    }

    &:checked + &__label &__castom-icon {
        background: var(--accent);
        border-color: var(--accent);
    }

    &:checked + &__label &__castom-icon &__icon-check {
        opacity: 1;
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 7px;

        @include transition ($transition-property: background-color);
    }

}