.products-block {
  &__list {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(290px, 770px));
    gap: rem(47) rem(30);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    padding: rem(30);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    min-height: rem(293);
    overflow: hidden;
    display: flex;
    gap: rem(10);
    flex-basis: calc((100% - 30px) / 2);
    @include transition ($transition-property: box-shadow);

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.25);
        scale: 1.02;
      }
    }
  }


  &__inner {
    max-width: rem(345);
    width: 100%;
  }

  &__title {
    height: rem(72);
  }

  &__text {
    color: var(--black);
    @include adaptivevalue(font-size, 18, 16, 1620, 320, 1);
    @include adaptivevalue(line-height, 27, 24, 1620, 320, 1);
    text-wrap: balance;

    &:not(:last-child) {
      @include adaptive-value(margin-bottom, 46, 30, 0);
    }
  }

  &__images {
    // position: absolute;
    // height: 100%;
    // bottom: 0px;
    // right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__img {
    max-width: rem(376);
    aspect-ratio: 1;
  }

  &__link-more--mobile {
    display: none;
  }

  @media screen and (width < 990.01px) {
    &__inner {
      text-align: center;
      margin-bottom: rem(20);
    }

    &__images {
      position: static;
    }

    &__img {
      // height: rem(121);
    }

    &__title {
      text-align: center;
    }

    &__item {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &__link-more {
      display: none;
    }

    &__link-more.products-block__link-more--mobile {
      display: block;
      width: 125%;
    }

    &__item {
      padding-bottom: 0;
    }
  }

  @media screen and (width < 740.01px) {
    &__item {
      flex-basis: 100%;
      padding-bottom: 0;
    }
  }
}