.products-slider {
  @include adaptivevalue(padding-bottom, 120, 50, 1620, 320, 1);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__link-more {
    display: inline-flex;
    color: rgba(20, 20, 20, 0.58);
    font-weight: 600;
    letter-spacing: 0.9px;
    gap: 15px;
    @include transition ($transition-property: color);

    &::after {
      @extend %ic;
      content: "\e900";
      font-size: calc(10/16)+rem;
      color: var(--accent);
      transform: rotate(-90deg);
      @include transition ($transition-property: box-shadow);
    }

    @media (any-hover: hover) {
      &:hover {
        color: rgba(20, 20, 20, 1);
      }
    }
  }

&__slider {
  padding: 10px;
  margin: 0 -10px;
}


}