.products-card {
  position: relative;
  display: grid;
  @include adaptivevalue(width, 375, 290, 1620, 320, 1);
  // max-width: 375px;
  // @include adaptivevalue(height, 600, 537, 1620, 320, 1);
  background-color: var(--white);
  grid-template-rows: auto 1fr;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
  @include transition ($transition-property: transform);
  margin: 0 auto;


  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }

  &__sale {
    position: absolute;
    padding: rem(6) rem(22);
    top: rem(20);
    left: 0;
    width: rem(90);
    height: rem(35);
    background-color: var(--accent);
    color: var(--white);
    font-weight: 600;
    border-top-right-radius: rem(3);
    border-bottom-right-radius: rem(3);
    z-index: 3;
    pointer-events: none;
  }

  &__img-cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: rem(240);
  }

  &__img {
    @include adaptivevalue(padding-top, 20, 15, 1620, 320, 1);
    @include adaptivevalue(padding-left, 50, 40, 1620, 320, 1);
    @include adaptivevalue(padding-bottom, 20, 15, 1620, 320, 1);
    @include adaptivevalue(padding-right, 50, 40, 1620, 320, 1);
    width: 100%;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }


  &__body {
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    flex: 1 1 auto;
    margin-bottom: rem(15);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: rem(60);
  }

  &__title-link {
    color: var(--cod-gray);
    font-size: rem(20);
    font-weight: 600;
    @include transition ($transition-property: color);

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }

      &:focus-visible {
        color: var(--accent);
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: rem(10);
    color: var(--gray);
    font-size: rem(16);
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }

  &__materials {
    // flex: 1 1 auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-top: 1px solid rgba(20, 20, 20, 0.50);
    margin-bottom: 30px;
    padding-top: 20px;
    margin-top: 20px;

  }

  &__price {
    flex: 1 1 auto;
    font-size: rem(20);
    font-weight: 600;
    color: var(--cod-gray);
  }
}