.products-slider {
  // @include adaptivevalue(padding-bottom, 120, 50, 1620, 320, 1);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__link-more {
    display: inline-flex;
    color: rgba(20, 20, 20, 0.58);
    font-weight: 600;
    letter-spacing: 0.9px;
    gap: 15px;
    @include transition ($transition-property: color);

    &::after {
      @extend %ic;
      content: "\e900";
      font-size: calc(10/16)+rem;
      color: var(--accent);
      transform: rotate(-90deg);
      @include transition ($transition-property: box-shadow);
    }

    @media (any-hover: hover) {
      &:hover {
        color: rgba(20, 20, 20, 1);
      }
    }
  }

  &__swiper {
    &:not(:last-child) {
      @include adaptive-value(margin-bottom, 50, 30, 0);
    }
  }

  &__slider {
    padding: rem(15) rem(20);
    margin: 0 rem(-20);
  }
}

.dotts {
  display: grid;
  grid-auto-flow: column;
  gap: rem(17);
  justify-content: center;
  transform: translate(0, 10%);
  margin: 0 auto;
  overflow: hidden;
}



.swiper-pagination-bullet {
  position: relative;
  height: rem(30);
  width: rem(18);
  opacity: 1;
  background-color: transparent;
  transition: all 0.3s ease 0s;

  &::after {
    opacity: 1;
    position: absolute;
    content: '';
    width: 100%;
    height: rem(2);
    top: 50%;
    transform: translate(0, -50%);
    background-color: var(--gray-dotts);
  }


  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    opacity: 0;
  }
}

.new-products__dotts {
  .swiper-pagination-bullet::after {
    background-color: var(--white);
  }
}

.new-products__dotts {
  .swiper-pagination-bullet-active::after {
    background-color: var(--accent);
  }
}

.swiper-pagination-bullet-active {
  width: 28px;
  transition: all 0.3s ease 0s;

  &::after {
    background-color: var(--accent);
  }

  &::before {
    opacity: 1;
    left: 18px;
    transition: left 3s linear 0s;
  }
}




.new-products {

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    position: absolute;
  }
}